.app{
  max-width: 600px;
  margin:0 auto;
}
h5{
  color:red;
  padding:1rem;
  border:3px solid red;
  background:rgb(214, 214, 234,0.7);
  border-radius:10px;
}
.home{
  min-height:400px;
  background-image: url(./components/home.jpg);
  background-size: 95%;
background-repeat: no-repeat;
background-position: center center;



}